.root {
  @apply inline-flex text-center items-center leading-7;
}

.root span {
  @apply rounded-full h-2 w-2;
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  margin: 0 2px;
}

.root span:nth-of-type(1) {
  background-color: #7C4DFF;
}

.root span:nth-of-type(2) {
  animation-delay: 0.2s;
  background-color: #00C2FF;
}

.root span:nth-of-type(3) {
  animation-delay: 0.4s;
  background-color: #FFB84D;
}

@keyframes blink {
  0% {
    opacity: 0.2;
    transform: scale(0.8);
  }
  20% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0.2;
    transform: scale(0.8);
  }
}
